$orange: #ff5712;

.inlineMenu {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 0;

  .allBlocks {
    width: 130px;
    height: 50px;
    outline: none;
    background: white;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    font-size: 16px;
    padding: 10px 15px;
    margin-right: 15px;
    transition: all 0.2s;

    &:hover {
      background: $orange;
      border: 1px solid $orange;
      // box-shadow: 0 0 10px 1px $orange;
      color: white;
    }
  }

  .blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 50px;
    color: white;
    list-style: none;
    border: 1px solid white;
    border-radius: 10px;
    padding: 0 15px;

    li {
      height: 100%;
      margin: 0 10px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        color: $orange;
        // text-shadow: 0 0 20px $orange;
      }
    }
  }
}
